::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav-link:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 5px;

}

nav {
    position: absolute !important;
    z-index: 150;
    margin-top: -30px;

}

section .cloudwave {
    position: absolute;
    left: 0;
    margin-top: 60px;
    width: 100%;
    height: 100px;
    background: url(./image/wave_effect.png);
    background-size: 1000px 100px;

}

section .cloudwave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    top: 0px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }

}

section .cloudwave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 99;
    opacity: 0.5;
    animation-delay: -5s;
    top: 15px;
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }

}

section .cloudwave.wave3 {
    animation: animate3 10s linear infinite;
    z-index: 98;
    opacity: 0.7;
    animation-delay: -4s;
}

@keyframes animate3 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }

}

.slideamin {
    visibility: hidden;
}

.slide {
    animation: slide linear 1s;
    -webkit-animation: slide linear 1s;
    -moz-animation: slide linear 1s;
    -o-animation: slide linear 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* end header css  */

body {
    font-family: 'Merriweather', serif;
}

.container {
    width: 90%;
}

.tag_menu {
    font-size: 14px;
    color: #006633;
    letter-spacing: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.active_tab {
    background: #000000;
    color: #FFFFFF;
}

.tag_menu:hover {
    background: #000000;
    color: #FFFFFF;
}

.tag_menu {
    font-size: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.tag_menu {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

/*********************center_5****************/
#center_5 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.center_5_top h4 {
    text-align: center;
    font-size: 40px;
    color: #000000;
    letter-spacing: 0px;
}

.center_5_middle {
    padding-top: 10px;
}

.middle_1_para .nav-pills {
    border: none !important;
    /* margin-left: 10%; */
    text-align: center;
}

.middle_1_para .nav-pills>li a.active,
.nav-pills>li a.active:hover,
.nav-pills>li a.active:focus,
.nav-pills>li a.active:focus {
    background-color: #000000;
    color: #fff;
    border: none !important;
    padding-bottom: 10px;
}

.middle_1_para .nav-pills>li>a {
    margin-right: 1px;
    line-height: 1.42857143;
    border: 1px solid #000000 !important;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    color: #000;
    padding: 8px 1px;
}

.middle_1_para .nav-pills>li {
    width: 24.8%;
    font-weight: 600;
}

.middle_1_para .nav-pills>li>a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.middle_1_para .nav-pills {
    margin: auto;
    margin-left: 1px;
    margin-right: 1px;
}

.middle_1_para .nav-pills {
    margin-left: 25%;
    margin-right: 25%;
}



.center_5_middle_main {
    padding-top: 30px;
}

.center_5_middle_main_left_inner {
    margin-bottom: 20px;
}

.center_5_middle_main_left_inner .ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.center_5_middle_main_left_inner .ih-item a {
    color: #333;
}

.center_5_middle_main_left_inner .ih-item a:hover {
    text-decoration: none;
}

.ih-item img {
    width: 100%;
    height: 100%;
}

.center_5_middle_main_left_inner .ih-item.square {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.center_5_middle_main_left_inner .ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.center_5_middle_main_left_inner .ih-item.square.effect13 {
    overflow: hidden;
}

.center_5_middle_main_left_inner .ih-item.square.effect13.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}

.ih-item.square.effect13 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ih-item.square.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.square.effect13 a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.ih-item.square.effect13 a:hover .info {
    visibility: visible;
    opacity: 1;
}

.ih-item.square.effect13.top_to_bottom .info {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ih-item.square.effect13.top_to_bottom a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.square.effect13.top_to_bottom .info {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ih-item.square.effect13.top_to_bottom a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.square.effect13.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}

.ih-item.square.effect13.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
}

.ih-item.square.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.square.effect13 .info h3 {
    /* text-transform: uppercase; */
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #111111;
    margin: 30px 0 0 0;
}

.ih-item.square.effect13 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
}

.ih-item.square.effect13 .info h4 {
    margin-top: 50%;
    font-size: 18px;
    color: #FFFFFF;
    padding: 13px 35px;
    background: #4f774f;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
}

.ih-item.square.effect13 .info h4:hover {
    color: #4f774f !important;
    background: #fff !important;
}

@media screen and (max-width : 767px) {

    .center_5_middle_main_left_inner {
        margin-bottom: 20px;
    }

    .center_5_top h4 {
        font-size: 30px;
    }

    .middle_1_para .nav-pills {
        margin: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .middle_1_para .nav-pills li a.tag_menu {
        font-size: 10px;
    }
}

@media (min-width:768px) and (max-width:960px) {

    .center_5_middle {
        padding-top: 0px;
    }

    .middle_1_para .nav-tabs {
        width: 66%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:961px) and (max-width:1200px) {

    .container {
        width: 100%;
    }
}

/* footer css  */
.logo-footer {
    margin-bottom: 40px;
    box-shadow: 1px 1px rgb(98, 96, 96);
}

footer {
    color: grey;
}

footer .text_footer {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
    color: white;
}

footer h6:after {
    position: absolute;
    content: "";
    background: gray;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: grey;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {

    text-decoration: none;

}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li .text_footer {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

.text_footer:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}

/* text effect */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-firstlayer: #050606;
    --color-secondlayer: #fff4f4;
    --color-thirdlayer: #353434;
    --color-fouthlayer: #3e3e3e;
    --color-fifthlayer: #000000;
}



.content {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1% !important;
}

.text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondlayer), 6px 6px 0 var(--color-thirdlayer),
        9px 9px var(--color-fouthlayer), 12px 12px 0 var(--color-fifthlayer);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: var(--color-firstlayer);
    color: transparent;
    background-image: linear-gradient(to bottom, white, black);
    background-size: 100px;
    background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
    border-radius: 0% 0% 20% 20%;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        text-shadow: 3px 3px 0 var(--color-secondlayer);
    }

    20% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer);
    }

    30% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer), 9px 9px var(--color-fouthlayer);
    }

    40% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer), 9px 9px var(--color-fouthlayer),
            12px 12px 0 var(--color-fifthlayer);
    }

    50% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer), 9px 9px var(--color-fouthlayer),
            12px 12px 0 var(--color-fifthlayer);
    }

    60% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer), 9px 9px var(--color-fouthlayer),
            12px 12px 0 var(--color-fifthlayer);
    }

    70% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer), 9px 9px var(--color-fouthlayer);
    }

    80% {
        text-shadow: 3px 3px 0 var(--color-secondlayer),
            6px 6px 0 var(--color-thirdlayer);
    }

    90% {
        text-shadow: 3px 3px 0 var(--color-secondlayer);
    }

    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(-12px, -12px);
    }

    50% {
        transform: translate(-12px, -12px);
    }

    60% {
        transform: translate(-12px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


.bg-grey {
    background: rgba(33, 133, 137, 0.296);
}



@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: rgb(255, 255, 255);
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;

    padding-left: 0.2em;
    padding-right: 0em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;


    font-size: 1.5em;
    font-weight: 900;

    width: 0.5em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-facebook:hover {
    text-decoration: none;
    background-color: blue;
    text-shadow: none;
    animation: none;
}

.glowing-twitter:hover {
    text-decoration: none;
    background-color: blue;
    text-shadow: none;
    animation: none;
}

.glowing-google:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom, #ff0000, #FCEE21, #07f11b, #006aff);
    text-shadow: none;
    animation: none;
}

.glowing-instagram:hover {
    text-decoration: none;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    text-shadow: none;
    animation: none;
}

.glowing-github:hover {
    text-decoration: none;
    background-color: black;
    text-shadow: none;
    animation: none;
}


.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* backtop */
.scroll-top {
    width: 50px;
    height: 50px;
    font-size: 1.9rem;
    color: rgb(247, 247, 247);
    background-image: linear-gradient(to bottom, rgb(33, 32, 32), rgb(0, 0, 0), rgb(165, 168, 168));
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 40px;
    box-shadow: 0px 5px 5px rgb(255, 255, 255);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.scroll-top:hover {
    background-color: #f83c3c;
    box-shadow: 0 2px 4px rgb(255, 0, 0);
}

.not-visible {
    bottom: -50px;
    visibility: hidden;
    -webkit-opacity: 0;
    opacity: 0;
}